.main{
  
  width: 95%;
  height: auto;
  padding: 3%;
  text-align: center;
}



@font-face {
  font-family:'Gotham_Black';
  src: url('/fonts/Gotham-Black.otf');
}

@font-face {
  font-family:'Gotham_Book';
  src: url('/fonts/GothamBook.ttf');
}

h2{
  font-family:'Gotham_Book';
}

h1{
  font-family:'Gotham_Black';
}
.box{
  text-align: -webkit-center;
  background-color: white;
  color:black;
}

.buttons{
  padding: 14px 40px;
  background-color: green;
  color:white;
  font-family:'Gotham_Black';
  float:left;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family:'Gotham_Book';
}

#prevNext{
  
    padding-top: 4em;
}

#chartPlaceHolder{
  text-align: -webkit-center;
  width: 75vw;
  height: 40vh;
}

#otherChart{
display:none;
}



#answer{
  width: 100%;
  height: auto;
  text-align: center;
  
}

.hidden{
  display:none;
}

button:disabled{
  background-color: black;
}

 .checkmark {
  position: absolute;
  bottom: 0;
  left: 3px;
  height: 25px;
  width: 25px;
  border: 1pt solid black;
  border-radius: 50%;
}


input[name=factors]{
  opacity: 0;
} 
/* On mouse-over, add a grey background color */
/* .container:hover input~.checkmark {
  /* background-color: #ccc; */
/* } */ 

 .checkmark::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12.5px;
  width: 12.5px;
  top: 6.5px;
  left: 6.5px;
  margin: auto;
}

/* When the radio button is checked, add a blue background */
.container input:checked~.checkmark::before {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container{
  display: inline;
    position: relative;
    padding-left: 40px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 14pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input{
  position: absolute;
    opacity: 0;
    cursor: pointer;
} 

/* input[type="radio"] {
display: -webkit-box;
} */ 

form p{
display:inline-block;
font-family: "Gotham_Book";

}

#team, #market, #uniqueness, #competition, #strength{
 display: grid;
grid-template-columns: 2fr 2fr;
text-align: end;
grid-gap:1em;
}


.wrapper:nth-child(2n){
  text-align: start;
}

.wrapper{
  text-align: end;
}

.wrapper .btnRadio:hover{
  background-color: #969494;
}

.btnRadio{
  -webkit-appearance: button;
    padding: 2em;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    cursor: pointer;
    width: 55%;
}

.btnRadioTwoOptions{
  -webkit-appearance: button;
    padding: 1em;
    display: inline-grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    width: 30%;
}

#factorsTwoOptions{
  display:block;
}
#team label, #market label{
 
  /* float: left; */
  width: 45%;
  /* margin: 4px; */
  /* background-color: #EFEFEF; */
  border-radius: 4px;
  /* border: 1px solid #D0D0D0; */
  /* overflow: auto; */
       
}

/* #team label p {
  text-align: center;
  font-size: 20px;
  /* padding: 13px 0px; */
  /* display: block;
}

#team label input {
  position:absolute;
  top:-20px;
} */ 

/* #team input:checked + p {
  background-color:#6c9972;
  color:#F7F7F7;
} */

#team input:checked + p, #market input:checked + p, #uniqueness input:checked + p, #competition input:checked + p, #strength input:checked + p {
  background-color:#6c9972;
  color:#F7F7F7;
}

input[name=team], input[name=market], input[name=uniqueness], input[name=competition], input[name=strength]{
  display:none;
}

.imgSize{
  width:5em;
}
.submit{
  background-color: green;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#popUp{
  width: 40%;
  height: 50%;
  background-color: rgb(227, 236, 147);
  display: none;
  position: absolute;
  padding: 1em;
 
  /* grid-template-rows: 2em 2em 2em 2em; */
}

input[type=submit]{
  width:7em;
  height:2em;
}

#timeline{
  font-size: 1.5em;
  margin-top: -1em;
  float: right;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /* position: absolute; */
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type="number"]{
  border: 0;
  border-bottom: 1px solid;
  text-align: center;
  width: 30%;
}

.has-float-label {
  display: block;
  position: relative;
}

.has-float-label label {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  transition: all .2s;
}

.has-float-label input {
  font-size: inherit;
  padding-top: 1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.has-float-label input::-webkit-input-placeholder, .has-float-label select::-webkit-input-placeholder {
  opacity: 1;
  transition: all .2s;
}

#next_button{
  float: right;
}

.inputBtn{
  width: 395px;
    padding: 2em;
    margin: auto;
  /* padding: 1rem; */
  text-transform: uppercase;
  color: #464343;
  /* background-color: $; */
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  transition: .3s all ease;
  /* letter-spacing: .1rem; */
  font-size: .85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
  /* appearance: button; */
  
}

.classColor{
  background-color: green;
}