.main{
  width:40%;
  height:50%;
  padding:3%;
  background-color: grey;
  /* opacity:0.5; */
}

.box{
  width: 95%;
  height: 100%;
  background-color: white;
  color:black;
}

.buttons{
  padding: 14px 40px;
  background-color: green;
  color:white;
}

#answer{
  width:70%;
  height:50%;
}

.hidden{
  display:none;
}

button:disabled{
  background-color: black;
}

/* input[type="radio"] {
display: -webkit-box;
} */

form p{
display:inline-block;
}

.submit{
  background-color: green;
}

#popUp{
  width: 40%;
  height: 50%;
  background-color: rgb(227, 236, 147);
  display: none;
  position: absolute;
  padding: 1em;
 
  /* grid-template-rows: 2em 2em 2em 2em; */
}

input[type=submit]{
  width:7em;
  height:2em;
}

#timeline{
  font-size: 1.5em;
  margin-top: -1em;
  float: right;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

