.main {
  width: 95%;
  height: auto;
  padding: 3%;
  text-align: center;
}

@font-face {
  font-family: "Gotham_Black";
  src: url("/fonts/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham_Book";
  src: url("/fonts/GothamBook.ttf");
}

h2 {
  font-family: "Gotham_Book";
}

h1 {
  font-family: "Gotham_Black";
}
.box {
  text-align: -webkit-center;
  background-color: white;
  color: black;
}

.buttons {
  position: absolute;
  padding: 14px 40px;
  background-color: green;
  color: white;
  font-family: "Gotham_Black";
  top: 90%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Gotham_Book";
}

#prevNext {
  padding-top: 4em;
}

#chartPlaceHolder {
  text-align: -webkit-center;
  width: 75vw;
  height: 40vh;
}

#otherChart {
  display: none;
}

#answer {
  width: 100%;
  height: auto;
  text-align: center;
}

.hidden {
  display: none;
}

button:disabled {
  background-color: black;
}

.checkmark {
  position: absolute;
  bottom: 0;
  left: 3px;
  height: 25px;
  width: 25px;
  border: 1pt solid black;
  border-radius: 50%;
}

input[name="factors"] {
  opacity: 0;
}
/* On mouse-over, add a grey background color */
/* .container:hover input~.checkmark {
  /* background-color: #ccc; */
/* } */

.checkmark::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 12.5px;
  width: 12.5px;
  top: 6.5px;
  left: 6.5px;
  margin: auto;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark::before {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container {
  display: inline;
  position: relative;
  padding-left: 40px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 14pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* input[type="radio"] {
display: -webkit-box;
} */

form p {
  /* display:inline-block; */
  font-family: "Gotham_Book";
}

#team,
#market,
#uniqueness,
#competition,
#strength {
  display: grid;
  grid-template-columns: 2fr 2fr;
  text-align: end;
  grid-gap: 1em;
}

.wrapper:nth-child(2n) {
  text-align: start;
}

.wrapper {
  text-align: end;
}

.wrapper .btnRadio:hover {
  background-color: #969494;
}

.btnRadio {
  -webkit-appearance: button;
  padding: 2em;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  cursor: pointer;
  width: 55%;
}

.btnRadioTwoOptions {
  -webkit-appearance: button;
  padding: 1em;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  width: 30%;
}

#factorsTwoOptions {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

#team label,
#market label {
  width: 45%;
  border-radius: 4px;
}

#team input:checked + p,
#market input:checked + p,
#uniqueness input:checked + p,
#competition input:checked + p,
#strength input:checked + p,
#factorsTwoOptions input:checked + p {
  background-color: #6c9972;
  color: #f7f7f7;
}

input[name="team"],
input[name="market"],
input[name="uniqueness"],
input[name="competition"],
input[name="strength"] {
  display: none;
}

.imgSize {
  width: 5em;
}
.submit {
  background-color: green;
  right: 0;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#popUp {
  width: 85%;
  height: 80%;
  background-color: #0a0a24;
  color: white;
  display: none;
  position: absolute;
  padding: 1em;
}

#signup {
  display: grid;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-gap: 1em;
  /* text-align: center; */
}

.inputSub {
  /* text-align: center; */
  padding-top: 1em;
}

input[type="submit"] {
  width: 7em;
  height: 2em;
}

#timeline {
  font-size: 1.5em;
  margin-top: -1em;
  float: right;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* .slider {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

input[type="range"] {
  width: 300px;
}
/*###################################*/
/*###########Responsive Range########*/
/*###################################*/
/*##############Core Style###########*/

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*#############Thumb##############*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
  margin-top: -12px;
}

input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 36px;
  width: 36px;
  background: #555;
  cursor: pointer;
}
/*#############Track##############*/

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: #d6d6d6;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #ccc;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ccc;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ddd;
}

input[type="range"]::-ms-fill-upper {
  background: #ccc;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ddd;
}

input[type="number"] {
  border: 0;
  border-bottom: 1px solid;
  text-align: center;
  width: 30%;
}

#next_button {
  right: 0;
}

#number {
  text-align: justify;
}

.inputBtn {
  width: 395px;
  padding: 2em;
  margin: auto;
  /* padding: 1rem; */
  text-transform: uppercase;
  color: #464343;
  /* background-color: $; */
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.4);
  transition: 0.3s all ease;
  /* letter-spacing: .1rem; */
  font-size: 0.85rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 2.5rem;
  /* appearance: button; */
}

#comparison {
  border: 1px solid black;
  padding: 1em;
  position: absolute;
  font-family: "Gotham_Black";
  top: 9em;
  right: 2em;
  width: 150px;
}

.hide {
  visibility: hidden;
}

#prev_button {
  display: inline-block;
  left: 0;
}

.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left;
}

.md-checkbox.md-checkbox-inline {
  display: inline-block;
}
.md-checkbox label {
  cursor: pointer;
  display: inline;
  line-height: 1.25em;
  vertical-align: top;
  clear: both;
  padding-left: 1px;
}
.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}
.md-checkbox label:before,
.md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}
.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 0.125em;
  cursor: pointer;
  transition: background 0.3s;
}
.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #337ab7;
  border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
  transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #fff;
  border-top-style: none;
  border-right-style: none;
}
