.main{
  width:40%;
  height:50%;
  padding:3%;
  background-color: grey;
  /* opacity:0.5; */
}

.box{
  width: 95%;
  height: 100%;
  background-color: white;
  color:black;
}

.buttons{
  padding: 14px 40px;
  background-color: green;
  color:white;
}

#answer{
  width:70%;
  height:50%;
}

.hidden{
  display:none;
}

button:disabled{
  background-color: black;
}

/* input[type="radio"] {
display: -webkit-box;
} */

form p{
display:inline-block;
}

.submit{
  background-color: green;
}

#popUp{
  width: 70%;
  height: 50%;
  background-color: rgb(227, 236, 147);
  display: none;
  position: absolute;
  padding: 1em;
 
  /* grid-template-rows: 2em 2em 2em 2em; */
}

input[type=submit]{
  width:7em;
  height:2em;
}